/*Title font size: 50pt*/
/*Tab font size: 25pt*/

#my {
	zoom:  100%;

}

body {
	display: grid;
	font-family: Helvetica;
	margin:0px;
	overflow: hidden;
  /* This determines the number of verticle rows and their respective heights */
  	grid-template-rows: [row1-start] 300px [row1-end row2-start] 600px [row2-end];
}
}

#headerwrapper { 
	top: -200px;
	background-color: #FFE4B2;
	overflow: hidden;
}


#header {
	background-color: #FFE4B2;
	padding-top: 70px;
	height: 150px;
	display: grid;
	grid-template-columns: 10% 5% 50% 25% 10%;
	 }

.account {
	font-size: 20pt;
	padding: 25px;
	border: 2px solid;
	position: absolute;
	right: 250px;
	margin-top: 30px;
	width: 100px;
	height: 25px;
	text-align: center;

}

.img-hat {
	position: absolute;
	/*width: 100%;*/
	height: 120px;
	left: 180px;
	margin-top: 10px;
}
.img-shopping-bag {
	position: absolute;
	width: 80px;
	height: 75px;
	right: 150px;
	margin-top: 30px;

}

.vertical-center {
	/*vertical-align: baseline;*/
	margin-top: 10px;
}

.topnav {
	width: 100%;
	height: 80px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.tab{
	/*display: grid;*/
	margin-left: 25%;
	width: 50%;
	height: 50px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	vertical-align: text-bottom;
	margin-top: 40px;
	background-color: #CC8400;
	float: left;
	color: black;
	text-align: center;
	word-spacing: 40px;
	text-decoration: none;
	font-size: 18pt;
	padding-top: 10px;
}



.topnav a:hover{
	margin-top:40px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	background-color: #FFB62F;
}

/*This is only referring to background image*/
.img-background {
	width: 100%;
	height: 100%;
	background-image: url(img/background.jpg);
	background-size: cover; 
	overflow: hidden;
	position: absolute;
	opacity: 0.5;
	z-index: -1;
	margin: -50px;
	}


.content {
	grid-row-start: row2-start;
	grid-row-end: row2-end;
	border-top: solid 3px;
	border-top-color: #CC8400;
	padding: 50px;
	position: relative;
	height: 70vh;
}

.paragraphs {
	padding-top: 50px;
	/*margin-left: 350px;*/
}

button {
	font-size: 20pt;
	left: 35%;
	height: 50px;
	width: 100px;
	text-align: center;
	margin: 10px;
	position: absolute;
	background-color: #CC8400;
	border-radius: 10px;
}

p { 
	/*line-height: 70pt;*/
	/*padding-top: 50px;*/
	margin-left: 50px;
	font-size: 20pt;
}

h1{ 
	overflow: hidden;
	position: absolute;
	font-size: 40pt;
	text-align: center; 
	right: 25%;
	width: 50%;
}

h3 {
	color: blue;
}

.paragraphsandshop {
	background-color: rgba(255, 255, 255, 0.3);
	width: 45%;
	margin-top:-2%;
	margin: 2%;
	padding-bottom: 5%;
}

.current{
	background-color: #FFB62F;
}

